@model Decimal?

<div class="form-group">
    @if (ViewBag.setLength != "Longer")
    {
        @Html.LabelFor(model => model, htmlAttributes:
          new
                 {
                     @class = "control-label   col-md-2 input-sm",
                     style = "max-width:100% ;text-align: right"
                 })
    }
    else
    {
        @Html.LabelFor(model => model, htmlAttributes:
            new
            {
                @class = "control-label   col-md-3 input-sm",
                style = "max-width:100% ;text-align: right"
            })
    }
  
    <div class="col-md-4  ">
   @Html.TextBoxFor(model => model, "{0:n}", new
   {
       @class = "form-control ",
       placeholder = ViewData.ModelMetadata.Watermark,
       style = "  text-align: right"   
   })
        @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
    </div>
</div>




