/*! body {
    background-image: url("~/Content/img/MetopeHome-Banner.jpg");
    background-size:100%;

}  */ 
/* Set spacing around the text, text-input components in the form groups */
.form-group  { 
     margin-bottom: 4px
} 
 
/* Set width on the form input elements since they're 100% wide by default */ 
input,
select,
textarea {
    max-width: 200px;
}
 