
@{
    ViewBag.Title = "HistoryUnderConstruction";
}

<h2>History is Still Under Construction</h2>

<div>
    <img id="progress" src="~/Content/img/404-AB-Failure-image.gif" />
    

</div>
<h4>
    @Html.ActionLink("Go Back to List", "Index")
</h4>