@model MetopeMVCApp.Models.Portfolio

@{
    ViewBag.Title = "Delete";
}
 
<h3>Delete confirmation</h3>
<p>
    Are you sure you want to delete the portfolio <strong>@Model.Portfolio_Name</strong>?
</p>

    <div> 
      

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <hr>
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>
    }
</div>
