 


<div class="my-container"> 
    <h2>Welcome to the Metope Investment Managers Front End </h2>
    <img src="~/Content/img/Metope-Protected-Equity-Banner.jpg" class="img-responsive" style="width:100%" alt="Image">
   
</div>
