 
@*changes to blur the wording from the background picture:  https://codepen.io/georgehossa/pen/ExPdqeX  (Hello from Medellín)-  wont work with slightly older versions*@ 
<style type="text/css"> 
 body{
  display:grid; 
  /*background: url(~/Content/img/metope_horses.jpg) no-repeat center / cover;*/
  background-image: url('/Content/img/metope_horses.jpg');
  place-items: center;
  height:100vh;
} 
</style> 
  <div class="container-welcome">
    <span>Welcome to the Metope Investment Managers front end</span>  
</div>  