
<form class='form-inline' role='form' id='SearchForm' style="margin-top: 15px">
    <input type='text' class='form-control input-sm' id='search-text' placeholder='Enter search text'>
    <button type='submit' class='btn btn-success btn-sm' id='search-btn'>Search</button>
</form>