<div class='col-md-2'>
    <div class="form-group">
        <div class='input-group date  datetimepickerClass' id='datetimepicker'>
            <input type='text' id="inputDate" class="form-control" name="inputDate" placeholder="For Date" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<div class="col-md-1">
    <button class="btn btn-primary btn-sm control-label" name="btnSubmit" type="submit">Submit</button>
</div>