@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    ViewBag.Title = "Errorss";
}


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processings your request. Contact support.</h2>
@if (Model != null)
{
    <h3>@Model.Exception.GetType().Name  </h3>
    <div>
        <img id="progress" src="~/Content/img/404-AB-Failure-image.gif" />
        <h4>@Model.Exception.ToString()  </h4>

    </div>
}


