@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Various info.</p> 
					  <!-- Google Map -->
<div class="gmap">
    <div class="padd">
        <!-- Goto Google maps and copy the embed code of your location. Replace the below embed code with your code. --> 
        <iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.373904523769!2d18.416371543774346!3d-33.90577514244742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc675a839190b9%3A0x43e40825d19c859!2sMETOPE!5e0!3m2!1sen!2sza!4v1477394011103" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div> 
