@{
    ViewBag.Title = "Index";
}

@section  HeaderPhoto {
    @Html.Partial("_HeaderPhoto", null)
}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               
            </div>
        </div>
        <div class="row"> 
           
        </div>
    </div>
</section>

