@{
    ViewBag.Title = "Support";
} 
<h2>@ViewBag.Title.</h2> 
<br />
 
@if (User.IsInRole("Admin"))
{
    <address>
        <strong> View the @Html.ActionLink("Error logs", "Index", "Elmah") </strong>
</address>
}

 
 
<address>
    <strong>email: <a href='mailto:support@intuitivedigital.co.za'>support@intuitivedigital.co.za</a></strong> <br />
</address>
