@model bool?

@{
    if (!Model.HasValue)
    {
        <span>Not set</span>

    }
    else
    { 
        if (Model.Value)
        {
            <span class="glyphicon glyphicon-ok small" style="color:green"></span> 
        }
        if (Model.Value == false)
        {
            <span class="glyphicon glyphicon-remove small" style="color:red"></span>  
        }
    }
}